.movie-detail {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    &__left {
      &__name {
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 0.5rem;

        @include mobile {
          font-size: 1.2rem;
        }
      }
    }

    &__right {
      display: flex;

      .rating-imdb {
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__label {
          margin-bottom: 0.5rem;

          @include mobile {
            display: none;
          }
        }

        &__value {
          display: flex;
          align-items: center;

          &__icon {
            color: $yellow;
            font-size: 1.5rem;
            margin-right: 0.5rem;
          }
        }
      }

      .rating-user {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__label {
          margin-bottom: 0.5rem;

          @include mobile {
            display: none;
          }
        }

        &__input {
          display: flex;
          align-items: center;

          &__icon {
            fill: $primary;
            font-size: 1.5rem;
            margin-right: 0.5rem;
          }
        }

        &__value {
          cursor: pointer;
          display: flex;
          align-items: center;

          &__icon {
            color: $secondary;
            font-size: 1.5rem;
            margin-right: 0.5rem;
          }
        }
      }
    }
  }

  &__content {
    margin-bottom: 1rem;

    &__asset {
      display: flex;
      margin-bottom: 1rem;

      .movie-detail__content__description {
        display: none;
      }

      @include mobile {
        flex-direction: column-reverse;

        &__image {
          &__wrapper {
            display: flex;

            .movie-detail__content__description {
              display: block;
              margin-left: 1rem;
            }
          }
        }
      }

      &__image {
        height: 400px;

        @include mobile {
          height: 200px;
          width: 125px;
        }
      }

      &__trailer {
        @include mobile {
          margin-bottom: 1rem;

          iframe {
            width: 100%;
            height: 200px;
          }
        }
      }

      .loading-overlay {
        &__image {
          height: 400px;
          width: 250px;

          @include mobile {
            height: 200px;
            width: 125px;
          }
        }
      }
    }

    &__genre {
      display: flex;
      margin-bottom: 1rem;

      &__item {
        margin-right: 0.5rem;
        border: 1px solid $primary;
        border-radius: 8px;
        font-size: 0.8rem;
        font-weight: 600;
        padding: 4px;
      }
    }

    &__description {
      margin-bottom: 1rem;

      @include mobile {
        display: none;
      }
    }

    &__director {
      display: flex;
      margin-bottom: 1rem;

      &__label {
        margin-right: 0.5rem;
      }

      &__value {
        display: flex;

        &__item::after {
          content: ",";
        }

        &__item {
          margin-right: 0.5rem;
          font-weight: 600;
        }
        &__item:last-child::after {
          content: "";
        }
      }
    }

    margin: 1rem 0;
    &__actor {
    }
  }

  .list-episodes {
    &__season {
      &__select {
        margin-bottom: 1rem;

        @include mobile {
          height: 26px;
        }
      }
    }
  }

  &__episode {
    margin-bottom: 1rem;

    @include mobile {
      .ant-collapse-content-box {
        padding: 0.5rem;
      }
    }

    .ant-collapse-header {
      align-items: center;
      @include mobile {
        padding: 0.5rem;
      }
    }

    .anticon,
    .ant-collapse-header-text {
      font-weight: 600;
    }

    .episode-item {
      display: flex;
      cursor: pointer;
      border: 1px solid $divider;
      border-radius: 8px;
      padding: 0.5rem 1rem;
      margin-bottom: 1rem;

      &__image {
        width: 80px;
        height: 120px;
        margin-right: 1rem;

        @include mobile {
          width: 56px;
          height: 84px;
        }
      }

      &__detail {
        &__name {
          color: $primary;
          font-weight: 600;
          margin-bottom: 0.5rem;

          @include mobile {
            margin-bottom: 0;
          }
        }

        &__score {
          margin-bottom: 0.5rem;

          @include mobile {
            margin-bottom: 0;
          }

          .anticon {
            color: $yellow;
            font-size: 20px;
            margin-right: 0.5rem;
          }
        }

        &__description {
          margin-bottom: 0.5rem;

          @include mobile {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &__footer {
    margin-bottom: 1rem;

    &__actor {
      margin-bottom: 1rem;

      &__title {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &__icon {
          height: 1.5rem;
          width: 4px;
          background-color: $primary;
          margin-right: 0.5rem;

          @include mobile {
            height: 1.2rem;
          }
        }

        &__text {
          font-size: 1.5rem;
          font-weight: 600;

          @include mobile {
            font-size: 1.2rem;
          }
        }
      }

      &__content {
        .item-actor {
          display: flex;
          align-items: center;

          &__image {
            width: 80px;
            height: 80px;
            margin-right: 1rem;

            @include mobile {
              width: 50px;
              height: 50px;
            }
          }

          &__text {
            &__name {
              font-weight: 600;
            }

            &__name-in-movie {
              margin-top: 0.5rem;
            }
          }
        }
      }
    }

    &__comment {
      border: 1px solid $divider;
      border-radius: 8px;
      padding: 1rem;

      &__title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @include mobile {
          font-size: 1rem;
        }
      }

      &__input {
        margin-bottom: 1rem;

        &__btn {
          margin-left: 0.5rem;

          @include mobile {
            height: 26px;
            display: flex;
            align-items: center;
          }
        }

        .form {
          display: flex;

          &__input {
            flex: 1;

            &__input {
              @include mobile {
                height: 26px;
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      &__note {
        margin-bottom: 1rem;
      }

      &__content {
        max-height: 400px;
        overflow-y: auto;

        .item-comment {
          border-bottom: 1px solid $divider;
          margin-bottom: 1rem;

          &__header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.5rem;

            &__name {
              font-weight: 600;
            }
          }

          &__content {
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    &__similar {
      margin-bottom: 1rem;

      &__title {
        display: flex;
        align-items: center;
        margin-top: 1rem;

        &__icon {
          height: 1.5rem;
          width: 4px;
          background-color: $primary;
          margin-right: 0.5rem;

          @include mobile {
            height: 1.2rem;
          }
        }

        &__text {
          font-size: 1.5rem;
          font-weight: 600;

          @include mobile {
            font-size: 1.2rem;
          }
        }
      }

      &__content {
        width: 100%;
        overflow: auto;
        display: flex;
        padding: 1rem 0;

        .movie-item {
          width: 200px;
          margin: 0 1rem;
          cursor: pointer;

          @include mobile {
            width: 140px;
          }

          &:first-child {
            margin-left: 0;
          }

          &__image {
            position: relative;
            height: 300px;
            width: 200px;
            margin-bottom: 0.5rem;

            @include mobile {
              height: 210px;
              width: 140px;
            }

            &__image {
              border-radius: 8px;
              width: 100%;
              height: 100%;
            }

            .mask {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              bottom: 0;
              opacity: 0;
              z-index: 2;
              transition: 0.5s;
              background-color: rgba(0, 0, 0, 0.5);
              border-radius: 8px;
              text-align: center;
              color: #fff;
              font-weight: 600;
              padding-top: 30%;

              &:hover {
                opacity: 1;
              }

              &__icon {
                font-size: 2rem;
                color: $yellow;
                margin-bottom: 0.5rem;
              }

              &__score {
                font-size: 1.3rem;
                margin-bottom: 2rem;
              }
            }
          }

          &__name {
            font-weight: 500;
          }

          &__year {
            font-size: 0.8rem;
            font-weight: 500;
          }
        }
      }
    }
  }
}
