.search {
  &__content {
    margin-top: 80px;
    padding: 0 2rem;
    min-height: 80vh;

    @include mobile {
      padding: 0 1rem;
      margin-top: 40px;
    }

    &__title {
      font-size: 1.5rem;
      font-weight: 600;

      @include mobile {
        font-size: 1rem;
      }
    }

    &__search-bar {
      .search-bar {
        &__name {
          display: flex;
          margin-bottom: 1rem;

          &__input {
            margin: 0 1rem;
          }
        }

        &__filter {
          &__item {
            &__label {
              margin-bottom: 4px;
            }

            &__input {
              width: 100%;
            }

            &__select {
              width: 150px;
            }
          }
        }
      }
    }

    &__result {
      margin: 2rem 10rem;

      @import "./movie-item";

      &__pagination {
        margin-top: 1rem;
        display: flex;
        justify-content: flex-end;
      }

      .loading {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
