.movie-item {
  display: flex;
  cursor: pointer;

  &__image {
    width: 80px;
    height: 120px;
    margin-right: 1rem;

    @include mobile {
      width: 56px;
      height: 84px;
    }
  }

  &__detail {
    &__name {
      color: $primary;
      font-size: 1.3rem;
      font-weight: 600;
      margin-bottom: 0.5rem;

      @include mobile {
        font-size: 1rem;
      }
    }

    &__duration {
      margin-bottom: 0.5rem;
    }

    &__score {
      margin-bottom: 0.5rem;

      .anticon {
        color: $yellow;
        font-size: 20px;
        margin-right: 0.5rem;
      }
    }

    &__description {
      margin-bottom: 0.5rem;
    }
  }
}
